/* Slider */

.slick-slider {
    position: relative;
    display: block;
    min-width: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0 0 6px;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    
    padding: 0 100px 0 0;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow{
    z-index: 100 !important;
    position: absolute;
    top: 0;
    right: 157px;
    font-size: 0;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #1d2c46;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-prev{
    margin-right: 49px;
    padding: 0;
}

.slick-prev::after,
.slick-next::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 13px;
  height: 18px;
  
}

.slick-prev::after{
  background-image: url("../images/arrow-left.png");
  
}

.slick-next::before {
  background-image: url("../images/arrow-right.png");
  
}

@media (max-width: 1024px) {
    .slick-slider{
        margin: 0 30px 0 0;
    }
}